.cardContainer{
    padding: 10px 1vw;
    word-break: break-all;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 60vw;
    height: 70vh;
}
.cardHeader{
    padding: 2vh 2vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(99, 107, 114);
    font-size: 24px;
    border-bottom: 1px solid rgb(99, 107, 114);
}
.detailsContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.descAndActContainer{
    display: grid;
    grid-template-rows: auto 1fr;
    border-right: 1px solid rgb(99, 107, 114);
}
.description{
    padding: 2vh 2vw;
    border-bottom: 1px solid rgb(99, 107, 114);
}
.cardDescription{
    background-color: rgb(245, 245, 245);
    padding: 1vh 1vw;
    margin-top: 1vh;
    border-radius: 5px;
    cursor: default;
}
#cardDescInput{
    min-height: fit-content;
    height: 5vh;
    width: 100%;
}
.activity{
    padding: 2vh 2vw;
   
}
.options{
    padding: 1vh 1vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; 
}
#cardTextInput{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(99, 107, 114);
    font-size: 24px;
}
#listNameDiv{
    font-size :16px;
    padding-top:1vh;
}
