.nav-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#026aa7;
    height: 6vh;
    min-height: 25px;
    align-content: center;
    padding: 0 2vw;
    color: #90b3c7;
  
}
.login-form{
    margin: auto 0 auto auto;
}

#logoutDiv,#buttonsContainer{
    margin: auto 0 auto auto;
}
